{% extends "layout.html" %}

{% block title %}Добавить поставщика{% endblock %}

{% block content %}
<h2>Добавить нового поставщика</h2>

<form method="POST">
   {{ form.hidden_tag() }}
   <div class="form-group">
       {{ form.name.label }} 
       {{ form.name(class='form-control') }}
   </div>

   <div class="form-group">
       {{ form.contact_person.label }} 
       {{ form.contact_person(class='form-control') }}
   </div>

   <div class="form-group">
       {{ form.phone.label }} 
       {{ form.phone(class='form-control') }}
   </div>

   <div class="form-group">
       {{ form.email.label }} 
       {{ form.email(class='form-control') }}
   </div>

   <button type="submit" class="btn btn-primary">{{ form.submit.label }}</button>

   <!-- Кнопка возврата -->
   <a href="{{ url_for('suppliers') }}" class="btn btn-secondary">Назад к списку поставщиков</a>

</form>

{% endblock %}